.folderShow::-webkit-scrollbar,
.messShow::-webkit-scrollbar{
    width: 0.5rem;
    height: 0.5rem;
}
.folderShow::-webkit-scrollbar-thumb,
.messShow::-webkit-scrollbar-thumb{
  border-radius: .5rem;
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  -ms-border-radius: .5rem;
  -o-border-radius: .5rem;
  background-color: #0004;
}
.folderShow:hover::-webkit-scrollbar-thumb,
.messShow:hover::-webkit-scrollbar-thumb{
  visibility: visible;
}